<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button href="/project/general-control" tab="general-control">
            <ion-icon aria-hidden="true" name="pie-chart-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button href="/project/releases" tab="releases">
            <ion-icon aria-hidden="true" name="bar-chart-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button href="/project/tab3" tab="tab3">
            <ion-icon aria-hidden="true" name="stats-chart-sharp"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
