<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngFor="let user of listaInvestimentos; index as i; first as isFirst">
        <ion-card-header>
<!--            <ion-card-title>{{ user.valor }}</ion-card-title>-->
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
    </ion-card>

</ion-content>
