<ion-tabs>
    <ion-tab-bar style="    background-color: #70c770;" mode="ios" slot="bottom">
        <ion-tab-button href="/project/general-control" tab="general-control" class="ion-tab-button">
            <ion-icon aria-hidden="true" name="pie-chart-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button href="/project/releases" tab="releases" class="ion-tab-button">
            <ion-icon aria-hidden="true" name="bar-chart-sharp"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
